{%extends "templates/base.html" %}

{%block title%} Projetos {%endblock%}

{%block body%}

<h1>Projetos</h1>
<hr/>

<p> Desenvolvo projetos próprios e geralmente colaboro com projetos que acho interessante. Aqui você encontrará essa lista com os principais projetos. Primeiro os projetos que desenvolvo e depois os projetos com os quais eu colaboro.
</p>



<h2> wsgid <span class="small"> <a href="http://wsgid.com" target="_wsgid">http://wsgid.com</a> </span> </h2>
<hr/>

<p>
Wsgid é um handler genérico para rodar aplicações WSGI usando o servidor web <a href="http://mongrel2.org" target="_mongrel2">mongrel2.</a>. Usando wsgid em sua aplicação você leva de graça algumas vantagens bem interessantes, entre elas: hot deploy, pois é possível reinicia sua aplicação por completo sem peder novas conexões. Escalabilidade horizontal, pois é possível rodar sua aplicação distribída em várias máquinas.
</p>

<p>
E o melhor sua aplicação não precisa ser adaptada de nenhuma forma para poder usar o wsgid pois esse segue a especificação da PEP-333, que define a interface WSGI, usada para construir aplicações python para web.
</p>

<p> Para saber mais sobre o projeto:</p>
<ul>
  <li> Site oficial: <a href="http://wsgid.com" target="_wsgid">http://wsgid.com</a></li>
  <li> Repositório: <a href="https://github.com/daltonmatos/wsgid" target="_wsgid-src">https://github.com/daltonmatos/wsgid</a></li>
</ul>



<h2> plugnplay <span class="small"> <a href="https://github.com/daltonmatos/plugnplay" target="blank">http://daltonmatos.com/projects/plugnplay</a> </span> </h2>
<hr/>

<p>
Plug n' Play é um sistema genérico de plugins par aplicações feitas em python. É inspirado no gerenciador de componentes do Trac (http://trac.edgewall.org). Esse projeto pode adicionar a qualquer aplicação e possibilidade de ser plugável. E o melhor é que independe se a aplicação é um software web ou uma ferramenta de linha de comando, basta ser escrita em python e será possível carregar plugins.
</p>

<p>
O que o projeto te proporciona é uma forma de definir suas próprias interfaces, ou seja, métodos que serão implementados por códigos de terceiros (os plugins). Feito isso, em tempo de execução, o plugnplay te permite descobrir e recuperar uma instância de cada objeto que implementa as interfaces que você definiu. Assim você pode executar esses métodos e fazer com que toda a infra-estrutura de plugins funcione.
</p>

<p> Mais detalhes sobre o projeto: </p>
<ul>
  <li> Repositório oficial:  <a href="https://github.com/daltonmatos/plugnplay" target="blank">https://github.com/daltonmatos/plugnplay</a> </li>
</ul>



<h2> codepad cli <span class="small"> <a href="">https://github.com/daltonmatos/codepad</a> </span> </h2>
<hr/>

<p>Esse projeto é uma ferramenta de linha de comando para o site codepad.org. Com ela é possível criar novos <em>pastes</em> com um comando simples:</p>

<pre>

$ codepad &lt; /algum/arquivo

</pre>

<p>Isso criará um novo registro no codepad.org e imprimirá na saída padrão a URL para acessá-lo. </p>

<p> Para saber mais sobre o projeto:</p>

<ul>
  <li>Repositório oficial:  <a href="https://github.com/daltonmatos/codepad">https://github.com/daltonmatos/codepad</a></li>
</ul>



<h2> daltonmatos.com </h2>
<hr/>

<p>Esse projeto é o código-fonte do site que você está vendo. É uma aplicação django que por enquanto é bem simples mas será evoluída com o tempo. Este site roda usando projetos que você também vê aqui: wsgid e mongrel2. 
</p>

<p> Para saber mais sobre o projeto:</p>

<ul>
  <li>Repositório oficial: <a href="https://github.com/daltonmatos/daltonmatos.com">https://github.com/daltonmatos/daltonmatos.com</a></li>
</ul>



<h1> Contribuições </h1>
<hr/>

<span id="mongrel2"></span>
<h2> mongrel2 <span class="small"><a href="http://mongrel2.org" target="_mongrel2">http://mongrel2.org</a></span> </h2>

<p> Mongrel2 é um servidor web com uma arquitetura bem diferente do que estamos acostumados a ver. A maior delas é que a aplicação web roda em um processo <strong>separado</strong> do servidor web. Não só roda em um outro processo, como esses processos podem estar em máquinas diferentes. Isso é ótimo pois te dá a possibilidade de escalar na horizontal, ou seja, adicionar novas máquinas para ter mais poder de processamento e não adicionar mais hardware a um mesmo servidor.</p>

<p>
Descobri esse projeto quando ele ainda tinha apenas alguns meses de vida, comecei a acompanhá-lo e com o tempo consegui contribuir enviando <em>patches</em> até que consegui permissão de commit no respositório oficial. Uma lista de commits onde sou o author pode ser vista <a href="https://github.com/zedshaw/mongrel2/commits/master?author=daltonmatos" target="_new">aqui</a>.
</p>

<p> Para saber mais sobre o projeto: </p>

<ul>
  <li> Site oficial: <a href="http://mongrel2.org" target="_mongrel2">http://mongrel2.org</a> </li>
  <li> Repositório oficial: <a href="https://github.com/zedshaw/mongrel2" target="_mongrel2">https://github.com/zedshaw/mongrel2</a> </li>
</ul>

<h2 id="pyroutes"> pyroutes <span class="small"><a href="http://pyroutes.com" target="_pyroutes">http://pyroutes.com</a></span> </h2>

<p> 
pyroutes é um mini framework web para python. Descobri esse projeto quando comecei meus estudos sobre python, no início de 2011. Assim que descobri esse projeto, comecei a estudaar seu código-fonte e logo já estava enviando <em>patches</em> com contribuições. Hoje também possuo <a href="https://github.com/pyroutes" target="_pyroutes">permissões de commit no repositório oficial</a>. Essa é a <a href="https://github.com/pyroutes/pyroutes/commits/master?author=daltonmatos" target="_pyr">lista de contribuições </a> que enviei até o momento.
</p>

<p> Para saber mais sobre o projeto: </p>

<ul>
  <li> Site oficial: <a href="http://pyroutes.com" target="_pyroutes">http://pyroutes.com</a> </li>
  <li> Repositório oficial: <a href="https://github.com/pyroutes/pyroutes" target="_new">https://github.com/pyroutes/pyroutes</a> </li>
</ul>



{%endblock%}



