{%extends "templates/base.html" %}

{%block title%} Projetos {%endblock%}

{%block body%}

<h1>Projetos</h1>
<hr/>


<h2 class="serif"> wsgid </h2>
<hr/>

<a href="/projects/wsgid">Mais detalhes</a> Link para o repositorio: <a href=""> aqui </a>

<h2> plugnplay </h2>
<hr/>



<h2> codepad cli </h2>
<hr/>

<p>Esse projeto é uma ferramenta de linha de comando para o site codepad.org. Com ela é possível criar novos <em>pastes</em> com um comando simples:</p>

<pre>

$ codepad &lt; /algum/arquivo

</pre>

<p>Isso criará um novo registro no codepad.org e imprimirá na saída padrão a URL para acessá-lo. </p>

<p>Mais detalhes no repositório oficial: <a href="https://github.com/daltonmatos/codepad">https://github.com/daltonmatos/codepad</a>.</p>


<h2> daltonmatos.com </h2>
<hr/>

This project is the source-code of this website and can be viewed at github: <a href="https://github.com/daltonmatos/daltonmatos.com">https://github.com/daltonmatos/daltonmatos.com</a>

{%endblock%}



