

// CSS Reset
@import "../bootstrap.css/lib/reset.less";
@import "../bootstrap.css/lib/variables.less";

@topBarHeight:	    112px;
@linkColor:         #000;
@linkColorHover:    lighten(@linkColor, 25);

//@basefont:          18px;
//@baseline:          23px;

// Core variables and mixins
@import "../bootstrap.css/lib/mixins.less";

// Grid system and page structure
@import "../bootstrap.css/lib/scaffolding.less";

// Styled patterns and elements
@import "../bootstrap.css/lib/type.less";
@import "../bootstrap.css/lib/forms.less";
@import "../bootstrap.css/lib/tables.less";
@import "../bootstrap.css/lib/patterns.less";


@import "topbar.less";

.maincontent {
  padding-top: @topBarHeight + 20;
}

.green {
 color: #0db505;
}

.socialbar {
  float: right;
  padding-top: 20px;

}


.footer {
  height: 50px;
  background-color: #000;
  margin-top: 60px;
  padding-top: 25px;

  #font > .serif(normal, 14px, 16px);
  color: #fff;
  text-align: center;

  a {
    color: @grayDark;
    text-decoration: underline;
  }

}


.small {
  #font > .serif(bold, 14px, @baseline);
  color: @black;

}

