<html>
  <head>
    <title> daltonmatos.com - {%block title%} {%endblock%} </title>
    <link rel="stylesheet" type="text/css" href="/static/css/site.css" />
  </head>


  <body>

      <div class="topbar">
        <div class="container">
              <div class="logo columns10">
                <img src="/static/images/logo.png"/>
              </div>

          <div class="socialbar">
            <a href="https://twitter.com/daltonmatos" target="_new"><img src="/static/images/twitter.png"/></a>
            <a href="https://github.com/daltonmatos" target="_new"><img src="/static/images/octocat.png"/></a>
            <a href="/contact"><img src="/static/images/email.png"/></a>
            <a href="http://delicious.com/daltonmatos" target="_new"><img src="/static/images/delicious.png"/></a>
            <a href="/contact"><img src="/static/images/googletalk.png"/></a>
            <a href="http://google.com/profiles/daltonmatos" target="_new"><img src="/static/images/google.png"/></a>
            <a href="http://daltonmatos.wordpress.com" target="_new"><img src="/static/images/wordpress.png"/></a>
            <a href="http://daltonmatos.wordpress.com/feed/" target="_new"><img src="/static/images/rss.png"/></a>
          </div>

            <ul>
                <li class="{{home_active}}"><a href="/">Home</a></li>
                <li class="{{projects_active}}"><a href="/projects">Projetos</a></li>
                <li class="{{blog_active}}"><a href="/blog">Blog</a></li>
                <li class="{{about_active}}"><a href="/about">Sobre</a></li>
                <li class="{{contact_active}}"><a href="/contact">Contato</a></li>
            </ul>
        </div>
      </div>

      <div class="maincontent container">
          {% block body %}
          {% endblock %}
      </div>

      <div class="footer">
      </div>

  </body>
</html>
