{%extends "templates/base.html" %}

{%block title%} Sobre mim {%endblock%}

{%block body%} 

<h1>Sobre</h1>
<hr/>

<p>
Dalton Matos Coelho Barreto, Bacharel em Ciência da Computação pela Universidade Federal do Rio de Janeiro (UFRJ).
</p>

<p>
Gosto de programação, redes e Sistemas Operacionais. Uso linux oficialmente (como sistema operacional primário, sem <em>dual-boot</em>) desde 2002 e atualmente tenho Gentoo como distribuição oficial. Já passei por Caldera Linux (alguém lembra!?), Conectiva, RedHat e Slackware. Os principais motivos que levaram à escolha do Gentoo foi a gerência de pacotes/dependências e a total possibilidade de customização.
</p>

<h2> O início </h2>

<p>
Comecei bem cedo, acho que quando tinha uns 11 anos de idade. Ganhei meu primeiro computador (um possante PC-386 com 1MB RAM) e ali começou a paixão pela computação. Fui descobrir a programação algum tempo depois (com 17, se me lembro bem). Comecei aprendendo CLIPPER, com um guia rápido de bolso e, depois de muita insistência, consegui um código fonte de um programa feito por um conhecido. Lembre-se que naquela época eu não tinha internet e não fazia a menor idéia do que era um software de código aberto.
</p>

<p>
Esse estudo rendeu meu primeiro softwate, um clássico controlador de estoques. Ná época feito para controlar o estoque do restaurante do meu pai. Aprendi muito naquela época e não parei de escrever código desde então.
</p>


<h2> Atualmente </h2>
<p>
Atualmente tenho python como minha linguagem de escolha e venho estudando cada vez mais sobre isso. Na página sobre meus <a href="/projects">projetos</a> você poderá ver que a maioria dos projetos são escritos em python e isso já é fruto dos estudos dessa linguagem. Aprendi sozinho, basicamente lendo a própria documentação da linguagem e tirando dúvidas olhando a própria gramática.
</p>

<p> 
Gosto muito de desenvolvimento e principalmente de escrever softwares <em>backend</em> (exemplo:  <a href="/projects">wsgid</a>). Procuro escrever ferramentas que me ajudem no dia-a-dia e até agora todas elas são de código aberto. Procuro sempre abrir o código de tudo que faço pois assim como eu aprendi muito lendo o código de outras pessoas, acredito que outros possam também aprender algo lendo o código que eu escrevo em meus projetos.
</p>


<h2> O futuro </h2>

<p>
É difícil falar sobre o futuro mas pensando nele hoje, me vejo daqui há uns anos tendo desenvolvidos softwares que não são úteis apenas pra mim, mas que sejam usados por muitas outras pessoas. É claro que a idéia de ganhar dinheiro com eles existe, mas enxergo a possibilidade de usar minhas próprias ferramentas, em conjunto com ferramentas de terceiros para prover um serviço na web e aí sim, ganhar dinheiro com esse serviço, seja lá qual ele for.
</p>


{%endblock%}


