{%extends "templates/base.html" %}

{%block title%} Blog {%endblock%}

{%block body%} 

<h1>Blog</h1>
<hr/>


<p> Sobre o blog </p>

<p>
Comecei meu blog no ano de 2009 apenas como uma forma de documentar os problemas que ia encongtrando e resolvendo. Com o tempo percebi que as soluções que eu tinha aplicado para resolver os problemas que encontrava também poderia ser muito útil para outras pessoas e então, definitivamente, resolvi continuar com a manutenção do blog.
</p>

<p>
Acompanhando o blog você terá acesso a posts, em sua maioria, bem técnicos e aprofundados. Não posto com muita frequência e isso significa que o blog é fácil de acompanhar. Procuro postar sobre assuntos interessantes e que tenham conteúdo suficiente para se transformar em um <em>blogpost</em>. Hoje esse blog está hospedado no wordpress.com mas pretendo migrá-lo para dentro desse site. Ainda estou à procura de uma boa <em>blog engine</em> para que possa usar aqui. 
</p>

<p> Acesse o o blog em: <a href="http://daltonmatos.wordpress.com" target="_blog">http://daltonmatos.wordpress.com</a> e divirta-se!</p>

{%endblock%}


