{%extends "templates/base.html" %}

{%block title%} Blog {%endblock%}

{%block body%} 

<h1>Contato</h1>
<hr/>

<p>
Se você tiver qualquer coisa que queira falar comgio, seja uma dúvida sobre algum de meus projetos ou uma idéia nova que você queira apresentar, não deixe de enviar um email ou entrar em contato de qualquer outra forma. Terei prazer em responder sua mensagem.

</p>


<h2> Endereços de contato </h2>
<hr/>

<ul>
  <li> E-mail/Gtalk: <span style="color: #000;">daltonmatos@gmail.com</span> </li>
  <li> Twitter: <a href="http://twitter.com/daltonmatos" target="_tw">@daltonmatos</a></li>
  <li> Google+: <a href="http://google.com/profiles/daltonmatos" target="_gplus">http://google.com/profiles/daltonmatos</a> </li>
</ul>


{%endblock%}


