{%extends "templates/base.html" %}

{%block title%} Home {%endblock%}

{%block body%} 

<h1>Seja bem-vindo</h1>
<hr/>


<h2>Sobre o site</h2>

<p>
Aqui você encontrará informações sobre minhas atividades dentro da área de desenvolvimento e computação. Apresento aqui os projetos que desenvolvo/colaboro e meu blog pessoal, onde escrevo sobre assuntos técnicos variados.
</p>

<h3> Blog </h3>

<p> <a href="http://daltonmatos.wordpress.com" target="_blog">http://daltonmatos.wordpress.com</a> </p>

<h3> Projetos </h3>

<p> <a href="http://daltonmatos.com/projects">http://daltonmatos.com/projects</a> </p>

<p>
Divirta-se!
</p>

<p>
--<br/>
Dalton Barreto
</p>


{%endblock%}


