{% extends "base.html" %}

{% block headextra %}
<meta http-equiv="content-language" content="{{article.lang}}" />
    <meta name="author" lang="{{article.lang}}" content="{{article.author}}" />
    <meta name="description" content="{{article.title|striptags}}" />
    <meta name="keywords" content="{{article.tags|join(', ')}}" />
    <meta name="robots" content="all,follow" />
    <title> {{article.title}} </title>
{% endblock %}

{% block content%}

  <div id="container" class="box">
  <h1> {{article.title}} </h1>

  <p> {{article.content}} </p>
  </div>

{% endblock %}
