{% extends "base.html" %}

{% block headextra %}
<meta http-equiv="content-language" content="{{article.lang}}" />
    <meta name="author" lang="{{article.lang}}" content="{{article.author}}" />
    <meta name="description" content="{{article.title|striptags}}" />
    <meta name="title" content="{{article.title|striptags}}" />
    <meta property="og:title" content="{{article.title|striptags}}" />
    <meta name="keywords" content="{{article.tags|join(', ')}}" />
    <meta name="robots" content="all,follow" />
    <title> {{article.title|striptags}} </title>
{% endblock %}

{% block content%}

  <div id="container" class="box">
    {% if article.in_default_lang and article.translations %}
      This content is also available in English: <a href="{{SITE_URL}}/{{article.translations[0].url}}"> {{article.translations[0].title}} </a>
    {% elif not article.in_default_lang %}
      Este conteúdo também está disponivel Português: <a href="{{SITE_URL}}/blog/{{article.slug}}/"> aqui </a>
    {% endif %}

    <p>{{article.date|strftime('%Y-%m-%d')}}, {{article.author}}</p>
  <h1> {{article.title}} </h1>
    {{article.content}}
  </div>

{% endblock %}
