<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.1//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-2.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" version="XHTML+RDFa 1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/MarkUp/SCHEMA/xhtml-rdfa-2.xsd" lang="pt" xml:lang="pt" dir="ltr" xmlns:og="http://ogp.me/ns#" >
{% block head %}
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    
    <link href="{{SITE_URL}}/theme/css/screen.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{{SITE_URL}}/theme/css/pygment.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <!--[if lte IE 6]>
    <link href="{{SITE_URL}}/theme/css/msie.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <![endif]-->
    <link rel="icon" type="image/png" href="/favicon.png"/>

   {% if FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed (Portugês)" />
      <link href="{{ FEED_DOMAIN }}/{{ LANG_EN_FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed (English)" hreflang="en" />
   {% endif %}
   
   {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
   {% endif %}

    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    {% block headextra %}{% endblock %}
    
  </head>
{% endblock %}

  <body>
    <div id="layout">
      
      <div id="header">
        
        <h1 id="logo"><a href="/" title="Home"><span class="light">daltonmatos.com</span><span class="leaf">&nbsp;</span></a></h1>
        <hr class="noscreen" />
     
      <hr class="noscreen" />
      
      <div id="nav" class="box">
        <ul>
          <li><a href="/">Home<br /></a></li>
					<li><a href="/pages/about">About<br /></a></li>
          <li><a href="/pages/avrgcc-avrasm2">AVR<br /></a></li>
					<!-- li><a href="/"><br /></a></li>
					<li><a href="/"><br /></a></li -->
				</ul>
        <hr class="noscreen" />
      </div> 

{% block content %}

{% endblock %}

{% block footer %}
    <div id="footer">
      <span class="f-left">&copy; 2015 
        <a href="/">Dalton Barreto</a>
      </span> 
      <span class="f-right">Design: 
        <a href="http://www.davidkohout.cz">David Kohout</a>
      </span>
    </div>
{% endblock %}

    </div> <!-- header -->
  </div> <!-- layout -->

  {% include 'analytics.html' %}
  </body>
</html>
