{% extends "base.html" %}


  {% block headextra %}
    <title>daltonnmatos.com</title>
  {% endblock %}

  {% block content %}


        
      <div id="container" class="box">
      
        <div id="obsah" class="content_">
          <div class="in">
          
            <h2>Lorem ipsum dolor!</h2>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.   </p>
            
            <h3>Dolor sit amet:</h3>
            <ul>
              <li><a href="#">Dolor in reprehenderit</a></li>
              <li><a href="#">In reprehenderit</a></li>
              <li><a href="#">Molot in reprehenderit in volupta</a></li>
              <li><a href="#">Rure dolor in reprehenderit in volupta</a></li>
            </ul>
            
            <h3>Lorem ipsum dolor</h3>
            
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, im veniam, quis n ullamco laboris nisi ut aliquip  
              im veniam, quis n ullamco laboris nisi ut aliquip sed do eiusmod tempor incididunt ut labore et dolore magna 
              aliquaim veniam
            </p> 
            
            
            <p>
              Quis n ullamco laboris nisi ut aliquip. Ut enim ad minim veniam, quis n ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
    
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.   </p>
            
            
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, im veniam, quis n ullamco laboris nisi ut aliquip  
              im veniam, quis n ullamco laboris nisi ut aliquip.
            </p>
            
          </div>
        </div>

      
      </div>
        
      
      {% endblock content %} 


