{% extends "base.html" %}


  {% block headextra %}
    <title>daltonnmatos.com</title>
  {% endblock %}

  {% block content %}
        
      <div id="container" class="box">
      
        <div id="obsah" class="content_">
          <div class="in">
         
            {% for a in articles %}
            <p> {{a.date|strftime('%Y-%m-%d')}}  <a href="{{a.url}}"> {{a.title}} </a> </p>
            {% endfor %} 
            
          </div>
        </div>
      
      </div>
      
      {% endblock content %} 


