.sprite-social-delicious{ background:url('/static/images/social.png') no-repeat 0px 0px;width:32px; height:32px;}
.sprite-social-wordpress{ background:url('/static/images/social.png') no-repeat -32px 0px;width:32px; height:32px;}
.sprite-social-octocat{ background:url('/static/images/social.png') no-repeat 0px -32px;width:32px; height:32px;}
.sprite-social-google{ background:url('/static/images/social.png') no-repeat -32px -32px;width:32px; height:32px;}
.sprite-social-rss{ background:url('/static/images/social.png') no-repeat -64px 0px;width:32px; height:32px;}
.sprite-social-twitter{ background:url('/static/images/social.png') no-repeat -64px -32px;width:32px; height:32px;}
.sprite-social-email{ background:url('/static/images/social.png') no-repeat 0px -64px;width:32px; height:32px;}
.sprite-social-googletalk{ background:url('/static/images/social.png') no-repeat -32px -64px;width:32px; height:32px;}
